.breed {
    padding-top: 20px;
}

.breed h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

.breed hr{
    width: 96%;
}

#cardsection {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.card-block img{
    width: 100% !important;
    height: 100%;
    object-fit: cover !important;
}

.card-block p{
    position: absolute;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}


.card-block .btn-outline-secondary {
    width: 60%;
    margin-bottom: 15px;
    position: relative;
}
  
.card-container {
    margin-bottom: 15px;
    overflow: hidden;
}


.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 170px;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}


.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: 1.7s;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
    transition: 2s;
}